:root {
  font-family: Poppins, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #4F5361;
  text-decoration: inherit;
}
a:hover {
  color: #0F1B4C;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #0F1B4C;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button.transparent {
  background-color: transparent;
  color: #0F1B4C;
}


.header {
  // display: flex;
  // flex-direction: column;
  background-color: #E6F0FF;
}

nav {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  padding-top: 3rem;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline;
      padding: 0.5rem;
    }
  }
}

.hero {
  display: flex;
  justify-content: space-around;
  padding-top: 3rem;
}

.hero__copy {
  padding-top: 3rem;
  padding-left: 3rem;

  h1 {
    color: #000336;
    font-weight: 700;
    font-size: 4rem;
  }

  p {
    color: #687690;
    font-weight: 500;
    font-size: 1rem;
  }

  button {
    margin-top: 2rem;
  }
}

.reviews {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  display: flex;
  justify-content: space-between;
 
  p {
    color: #7D8589;
  }

  .ratings {
    justify-self: end;
  }
  
}

.logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-items: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
